<!-- the index page is inheriting from the base page -->
<!-- the extends tags are used for inheriting from the base page -->
{% extends 'dictionary/base.html' %}

<!-- the block content tags for containing content of the page -->
{%  block content %}

<form action="search">
    <div class="input-group">
        <input type="text" required class="form-control" name="search" placeholder="Search your  word here.......">
    </div><br>
        <div class="input-group-append text-center d-grid gap-2 col-6 mx-auto" > 
            <button class="btn btn-outline-primary" type="submit">
                Search
            </button>
        </div>
   

</form>

{% endblock %}